{% extends 'music/nav.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class="container">
  <br>
  

</br></br>
<h2>List of movie or albums :{% load i18n %}{% blocktrans %}{{5+5}}{% endblocktrans %}</h2>
<div class="row">

{% for album in movie_list %}
<div class="col-md-4" ng-controller="ContentCtrl" ng-app="first_module">
<div class="card" style="width:350px;margin:10px;" >
    <img class="card-img-top" src="{{ album.image.url }}/" alt="{{album.name}} image" style="width:100%;height:300px;">
    <div class="card-body">
      <h4 class="card-title">{{album.name}}</h4>
      <a href="/music/{{album.id}}/" class="btn btn-primary">Songs</a>
    </div>
    </content-item>
</div>
   
  </div>
  {% endfor %}

  {% load staticfiles %}
        {% load djng_tags %}
{% angularjs ng %}
<div class="card" style="width:350px;margin:10px;" >
<content-item ng-repeat="album in name | filter: album:true" >
    <img class="card-img-top" src="{{ album.image.url }}/" alt="{{album.name}} image" style="width:100%;height:300px;">
    <div class="card-body">
      <h4 class="card-title">{{album.name}}</h4>
      <a href="/music/{{album.id}}/" class="btn btn-primary">Songs</a>
    </div>
    </content-item>
</div>
   {% endangularjs %}
  </div>
{%endblock%}

</div>


</div>
